<h1>New Contact</h1>

  create_table "posts", force: :cascade do |t|
    t.string "title"
    t.text "description"
    t.date "posted_on"
    t.integer "place_id"
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false

<%= form_with model: @post do |form| %>
  <p>
    <%= form.label "Title" %>
    <%= form.text_field "title" %>
</p>
  <p>
    <%= form.label "description" %>
    <%= form.text_field "description" %>
  </p>

  <!-- transfer state -->
  <%= form.hidden_field "place_id" %>
  <%= form.submit %>
<% end %>