<h1>New Post</h1>

<%= form_with model: @post do |form| %>
  <p>
    <%= form.label "Title" %>
    <%= form.text_field "title" %>
</p>
  <p>
    <%= form.label "description" %>
    <%= form.text_field "description" %>
  </p>

  <!-- transfer state -->
  <%= form.hidden_field "place_id" %>
  <%= form.hidden_field "posted_on", value: Date.current %>
  <%= form.submit %>
<% end %>